body{
  color: #40404F;
  background-color: #8abad3ff
}

nav{
  text-align: center;
  font-size: 20px;
  background-color:  #40404F;
}

header{
    font-family: 'Be Vietnam', sans-serif;   
    text-align: center;
}

.stron {
  font-family: 'Saira Stencil One', cursive;
}

#sP{

  text-align: center;
  display: inline;
}
#sBtm{
 font-size: 30px;
}

.about{
  font-size: 30px;

}

.save{
  font-size: 30px;  
}


p{
  font-size: 20px;
  display: inline;

}

.titles{
  text-align: center;
  font-family: 'Puritan', sans-serif;
}

label{
  color: #40404F;
}

.titles img{
  height: 10%;
  width: 30%;
}
.footer-copyright{
  text-align: center;
}
/*
