/*Global classes*/

body{
    color: black;
    background-color:  #b32134;
    background-image: url(https://www.svgrepo.com/show/120041/popcorn.svg);
    background-position: center;
    background-blend-mode: screen;
    background-size: 80% ;
  }
  /*Nav Bar*/
  nav{
    text-align: center;
    height: 100px;
    background-color:  #b32134;
  }
  #sNav{
  font-size: 500%;
  }
  /*About section*/
  header{
      font-family: 'Be Vietnam', sans-serif;   
      text-align: center;
  }
  #about{
    padding-right: 30px;
    text-decoration: underline;
  }
  .stron {
    font-family: 'Saira Stencil One', cursive;
    margin-top: 0%;
    background-color: #b32134 ;
    color: #fffdd0;
  }
  #sP{
    display: inline;
  }
  #shows{
    display: inline;
    text-align:center;
  }
  #sBtm{
   font-size: 30px;
  }
  .save{
    font-size: 30px;  
  }
  /*Nav Bar*/
  p{
    font-size: 30px;
    display: inline;
  }
  .titles{
    text-align: center;
    font-family: 'Puritan', sans-serif;
  }
  .section{
  font-size: 50px;
  float: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  }
  label{
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
  }
  #have{
   display: inline;
  }
  #want{
   display: inline;
  }
  #searchMovieBtn{
    font-size: 200%;
    width: 40%;
    height: 50px;
    background-color: green;
    border-radius: 8px;
    font-family: 'Lobster', cursive;
    border: none;
    cursor: pointer;
  }
  #searchMovieBtn:hover {
  background-color: #50c878 ;
  }
  #searchMovieBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  ::placeholder{
    color: #40404F;
    opacity: 50%;
  }
  #userMovieInput{
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
    font-size: 25px;
    height: 50px;
  }
  .titles img{
    background-color: transparent;
  }
  
  #ul{
    background: transparent;
  }
  .slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color:transparent;

  }
.slider{
  background-color: transparent;
}
  .footer-copyright{
    text-align: center;
  }
  #copyright{
    font-size: 20px;
  }
  
  #results {
    background-color:transparent;
  }
  
  
a {
text-decoration: underline;
color: #40404F;
opacity: 1;
}


  

