body{
  color: #40404F;
  background-color: #8abad3ff;
}

nav{
  text-align: center;
  height: 100px;
  background-color:  #40404F;
}
#sNav{
font-size: 500%;
}

header{
    font-family: 'Be Vietnam', sans-serif;   
    text-align: center;
}

.stron {
  font-family: 'Saira Stencil One', cursive;
  margin-top: 0%;

}

#sP{

  text-align: center;
  display: inline;
}
#sBtm{
 font-size: 30px;
}



.save{
  font-size: 30px;  
}


p{
  font-size: 30px;
  display: inline;

}
#about{
  padding-right: 30px;
}
.titles{
  text-align: center;
  font-family: 'Puritan', sans-serif;
}
.section{
font-size: 50px;
float: left;
font-family: 'Lobster', cursive;

}
label{
  color: #40404F;
  font-size: 50px;
  float: left;
  font-family: 'Lobster', cursive;
}
#searchMovieBtn{
  font-size: 150%;
  width: 10%;
}

::placeholder{
  color: #40404F;
  opacity: 50%;

}
#userMovieInput{
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
}

.titles img{
  background-color: #8abad3ff;
}
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-copyright{
  text-align: center;
}
/*
